.allow-duplicates-option
    cursor: pointer
    background-color: #382509
    height: 3rem
    width: 4rem
    border-radius: 15px
    margin: 0 0.4rem
    &.selected
        outline: 3px dotted green
        &:hover
            outline: 3px dotted green

    &:hover
        outline: 3px dotted black

    p
        padding-top: 0.8rem
        font-size: 1.2rem
