.options-wrapper
    border: 4px dotted #8d8174
    width: 470px
    min-height: 285px
    margin: 10em auto
    text-align: center
    background-color: #7a2c7a
    h1
        font-size: 3rem
        letter-spacing: -5.5px
        position: relative
        color: #469ace
        top: -3rem
        animation: headline 300ms cubic-bezier(.61,-1.11,.41,2.03)
    .intro-text
        font-weight: bold
        color: #d793da
        max-width: 70%
        margin: 0 auto 0 auto
        letter-spacing: 1.1px
        font-size: 1rem
        padding-bottom: 1.5rem
        span
            color: white
    .options-label
        position: absolute
        margin-left: 4rem
        font-size: 2.3rem
        letter-spacing: 3px
        color: #c6bbff

    .letters-and-duplicates-wrapper
        border: 5px #a198bb dashed
        border-radius: 20px
        background-color: #483270
        margin: 2.1rem auto 0 auto
        width: 90%
        padding: 0.1rem 0 1rem 0

    .no-of-letters-wrapper
        display: flex
        width: 80%
        justify-content: space-evenly
        margin: 2rem auto 1rem auto
        &>p
            width: 30px
            text-align: center
            padding-right: 5rem
            padding-top: 0.7rem
            color: #77bd8c
            font-size: 1.3rem
            font-weight: bold
    .allow-duplicates-wrapper
        display: flex
        width: 80%
        justify-content: space-between
        margin: 2rem auto 1rem auto
        &>p
            text-align: center
            padding-left: 1rem
            padding-top: 0.7rem
            color: #77bd8c
            font-size: 1.3rem
            font-weight: bold
    button
        cursor: pointer
        margin: 2rem 0 2rem 0
        font-size: 2rem
        font-weight: bold
        color: #afa1c5
        background-color: inherit
        border: none
        transition: transform 100ms

        &:hover
            transform: scale(120%) rotate(2deg)
    .information-btn
        display: block
        position: absolute
        background-color: #71848d
        transform: translate(-107px,13px)
        padding: 1rem 0.5rem
        font-weight: bold
        z-index: 1
        &:hover
            z-index: 2
    .highscore-btn
        display: block
        position: absolute
        background-color: #4138b3
        transform: translate(-96px,50px)
        padding: 1rem 0.5rem
        font-weight: bold
        z-index: 1
        &:hover
            z-index: 2
@keyframes headline
    0%
        transform: rotate(10deg) scale(0.5, 0.5)
