.instructions-wrapper
    border: 4px dotted #8d8174
    max-width: 500px
    margin: 14rem auto
    padding-top: 1rem
    text-align: center
    background-color: #7a2c7a
    p
        margin: 1rem 1rem
    .go-to-game-btn
        color: gold
        display: block
        font-size: 1.5rem
        font-weight: bold
        padding: 0.3rem 0.5rem
        background-color: #551010
        transform: translateX(-48px)
        text-decoration: none
        writing-mode: vertical-lr
        text-orientation: upright
        position: absolute
        margin: 0
        transition: all 100ms
        &:hover
            outline: 2px solid #b5f153
