.app {
  display: flex;
}

.wrapper {
  border: 4px dotted #8d8174;
  min-width: 450px;
  width: fit-content;
  margin: 14em auto;
  text-align: center;
  background-color: #7a2c7a;
}
.wrapper h1 {
  margin: 1rem 0;
  transform: scale(120%);
  animation: lets-go 200ms 600ms;
  animation-timing-function: ease-in-ease-out;
  position: relative;
  top: -1.5rem;
}
.wrapper .start-text {
  transform: rotate(1deg) translateY(-30px);
  margin-bottom: 1.3rem;
  color: #d793da;
  font-weight: bold;
  letter-spacing: 1.6px;
}
.wrapper .legend-and-count {
  display: flex;
}
.wrapper .legend-and-count .legend {
  transform: rotate(-7deg);
  text-align: left;
  border-radius: 3px;
  position: relative;
  width: fit-content;
  top: -2.5rem;
  left: -2rem;
  background-color: #594685;
  height: fit-content;
  padding: 1rem;
  animation: legend 300ms cubic-bezier(0.61, -1.11, 0.41, 2.03);
}
.wrapper .legend-and-count .legend p {
  padding: 0 0.5rem;
}
.wrapper .legend-and-count .legend p.correct::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.8rem;
  background-color: #4e7409;
}
.wrapper .legend-and-count .legend p.misplaced::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.8rem;
  background-color: #2a4b23;
}
.wrapper .legend-and-count .legend p.incorrect::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.8rem;
  background-color: #172b14;
}
.wrapper .legend-and-count .guessed-count {
  visibility: hidden;
  background-color: #af1212;
  width: 14rem;
  height: fit-content;
  position: relative;
  text-align: left;
  padding: 1rem;
  top: -20px;
  left: 120px;
  transform: rotate(7deg);
  animation: count 300ms 100ms cubic-bezier(0.61, -1.11, 0.41, 2.03) forwards;
}
.wrapper .celebration-message {
  color: #2bf311;
  font-weight: bold;
  font-size: 1.5rem;
  visibility: hidden;
  animation: celebration-message 300ms 1600ms;
  animation-fill-mode: forwards;
}

@keyframes celebration-message {
  80% {
    transform: scale(2, 2);
  }
  100% {
    visibility: visible;
    transform: scale(1, 1);
  }
}
@keyframes legend {
  0% {
    transform: rotate(0deg) scale(0.5, 0.5);
  }
}
@keyframes count {
  0% {
    transform: rotate(0deg) scale(0.5, 0.5);
  }
  100% {
    visibility: visible;
  }
}
@keyframes lets-go {
  0% {
    transform: scale(120%);
  }
  75% {
    transform: scale(160%);
  }
  85% {
    transform: scale(150%);
  }
  93% {
    transform: scale(110%);
  }
  100% {
    transform: scale(120%);
  }
}
.options-wrapper {
  border: 4px dotted #8d8174;
  width: 470px;
  min-height: 285px;
  margin: 14em auto;
  text-align: center;
  background-color: #7a2c7a;
}
.options-wrapper h1 {
  font-size: 3rem;
  letter-spacing: -5.5px;
  position: relative;
  color: #469ace;
  top: -3rem;
  animation: headline 300ms cubic-bezier(0.61, -1.11, 0.41, 2.03);
}
.options-wrapper h2 {
  font-size: 1.8rem;
  transform: rotate(-0.9deg);
}
.options-wrapper h2 span {
  color: #239e71;
  letter-spacing: -2px;
}
.options-wrapper p {
  font-weight: bold;
  color: #d793da;
  max-width: 70%;
  margin: 1rem auto;
  letter-spacing: 1.1px;
}
.options-wrapper .no-of-letters-wrapper {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  margin: 1rem auto;
}
.options-wrapper .no-of-letters-wrapper label {
  margin-left: 0.2rem;
}

@keyframes headline {
  0% {
    transform: rotate(10deg) scale(0.5, 0.5);
  }
}
.input-box {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border: 1px solid #8a7874;
  text-align: center;
  padding: 1rem 0;
  background-color: #8c1cb5;
  border-radius: 10px;
  text-align: center;
  padding: 0.5em 0;
  font-size: 2em;
  display: block;
  margin: 0;
}
.input-box.selected {
  outline: 2px solid #c1a7ca;
}

.input-row {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0.5em;
}
.input-row.hidden {
  display: none;
}

.guessed-word {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0.5rem;
}
.guessed-word p {
  visibility: hidden;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border: 1px solid #8a7874;
  text-align: center;
  padding: 1rem 0;
  background-color: white;
  border-radius: 10px;
}
.guessed-word p.correct {
  background-color: #4e7409;
}
.guessed-word p.incorrect {
  background-color: #172b14;
}
.guessed-word p.misplaced {
  background-color: #2a4b23;
}
.guessed-word p:nth-child(1) {
  animation: guessed-word 300ms;
  animation-fill-mode: forwards;
}
.guessed-word p:nth-child(2) {
  animation: guessed-word 300ms 300ms;
  animation-fill-mode: forwards;
}
.guessed-word p:nth-child(3) {
  animation: guessed-word 300ms 600ms;
  animation-fill-mode: forwards;
}
.guessed-word p:nth-child(4) {
  animation: guessed-word 300ms 900ms;
  animation-fill-mode: forwards;
}
.guessed-word p:nth-child(5) {
  animation: guessed-word 300ms 1200ms;
  animation-fill-mode: forwards;
}
.guessed-word p:nth-child(6) {
  animation: guessed-word 300ms 1500ms;
  animation-fill-mode: forwards;
}
.guessed-word p:nth-child(7) {
  animation: guessed-word 300ms 1800ms;
  animation-fill-mode: forwards;
}

@keyframes guessed-word {
  0% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    visibility: visible;
    transform: scale(1, 1);
  }
}
