<div class='instructions-wrapper'>
      <a class='back-btn' href='/'>Go back</a>
  <h1>About the project</h1>
  <p>Right now there is not so much text here. My energy ran out. I'm sure something will show up here sooner or later. Don't you worry.</p>