<div class='instructions-wrapper'>
      <a class='back-btn' href='/'>Go back</a>
  <h1>About the project</h1>
    <p>Right now there is not so much text here. My energy ran out. This page is only here because my school assignment required one. Since I met the minimum requirements for a server side rendered information page where the content doesn't really matter, I will keep like this for now. At least until I have some more energy to actually write something meaningful that describes my project. Cheers!</p>