<div class='instructions-wrapper'>
      <a class='go-to-game-btn' href='/'>Go back</a>
  <h1>About the project</h1>
  <p>This game has been developed as part of an education. It was fun. Lorem
    ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus ratione
    perspiciatis ut officiis in molestias nostrum sint atque veritatis repellat
    est temporibus, ipsam sit! Numquam asperiores ad cupiditate nihil officiis.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati porro ut
    tenetur reprehenderit adipisci mollitia quasi velit. Facilis, dolorum, ut
    beatae ea necessitatibus dolor vitae animi laborum quia magni sit rem dicta
    ipsam. Est expedita ducimus animi culpa impedit. Sunt dolorem eum corporis
    alias iure culpa blanditiis quaerat delectus ex exercitationem officia
    repellendus fugit, suscipit provident libero voluptatem labore? Minus
    blanditiis, nulla error animi itaque illo consectetur, laboriosam a amet ad
    placeat nobis laborum beatae aperiam voluptatem, molestiae assumenda nihil
    et provident excepturi. Necessitatibus ex, suscipit dolorum expedita maxime
    nemo laborum, natus blanditiis earum cumque nisi perspiciatis eligendi ab
    dicta labore aut consectetur repudiandae possimus. In fugiat nam architecto
    sint sapiente iusto quam! Itaque quasi, repellat a nostrum architecto
    doloribus neque earum quos quam repellendus, quidem eum minima nihil ipsam
    dicta exercitationem? Ut veritatis delectus quidem repellendus ipsa tempore
    voluptas recusandae nisi tenetur quia voluptate, iure dolore atque deleniti
    rerum. Minima cupiditate hic perspiciatis voluptatem! Commodi minima
    repellat doloribus. Id animi voluptatibus cum odit aspernatur soluta
    laudantium sit amet quasi natus. Laudantium, quaerat maxime. Consequuntur
    totam itaque sint, necessitatibus optio fuga reiciendis aliquam suscipit
    quisquam. Nam ipsa facilis nobis possimus illum perspiciatis temporibus
    accusantium corporis. Consequatur modi veritatis explicabo perferendis
    corrupti veniam fugiat maiores dolorum, perspiciatis, unde, at earum facere
    iure. Culpa reiciendis consequuntobis expedita repudiandae tempora vero quo,
    aliquid earum quisquam odit porro quam illum. Possimus culpa ut optio
    doloremque, magnam aliquid dolor modi? In velit doloribus aperiam error.
    Exercitationem, sunt.</p>